/* green #717d52
blue #73a2d1
black ish #23232b
sable ish #d6d2b9 */

.header-container {
  background-color: #d6d2b9;
  height: 100px;
}

.nav {
  background: #717d52 !important;
  /* width: 100% !important; */
  color: #23232b;
}

.nav-link.active {
  background: #d6d2b9 !important;
  color: #23232b !important;
}

.nav-link {
  background: #717d52 !important;
  color: #d6d2b9 !important;
  width: auto;
}

.body {
  background-color: #d6d2b9 !important;
}

.ss-fab-button {
  background-color: #73a2d1 !important;
}

.ss-logo {
  width: 100%;
  height: 100%;
  /* display: inline-flex; */
  /* float: left; */
}

.ss-login-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ss-login-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ss-login-btn {
  float: right;
  background-color: #73a2d1 !important;
}

.ss-info-btn {
  background-color: #73a2d1 !important;
}

.carousel-item.active {
  width: 100% !important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  /* background-color: #f5f5f5; */
  background: #d6d2b9 !important;
  color: #23232b;
}

.ss-copywright {
  float: right;
  text-align: right;
}


/* .ss-footer-icons {
  height: 80% !important;
} */